/* ===== RESET ===== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ===== BASE ===== */
body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  background-color: var(--primary-color-background);
  color: var(--cor-texto);
}
