/* ===== RESET E BASE ===== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  background-color: var(--primary-color-background);
  color: var(--cor-texto);
}

/* ===== LAYOUT ===== */
.page-container {
  padding: 2rem;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

h1 {
  font-size: 32px;
  margin-bottom: 8px;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}
/* ===== BOTÕES ===== */
button,
.btn-novo,
.btn-salvar,
.btn-cancelar {
  cursor: pointer;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  transition: all 0.2s ease;
}  

.btn-novo {
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: 0 4px 12px 0 var(--primary-color);
}



.btn-salvar {
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: 0 4px 12px 0 var(--primary-color);
}



.btn-cancelar {
  background-color: #ccc;
  color: var(--cor-texto);
}

.btn-cancelar:hover {
  background-color: #bdbdbd;
}

/* ===== TABELAS ===== */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--cor-branca);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: var(--primary-color);
  color: var(--cor-branca);
}

th,
td {
  text-align: left;
  padding: 12px 14px;
  border-bottom: 1px solid var(--cor-borda);
}

tbody tr:hover {
  background-color: var(--cor-hover);
}

/* ===== MODAL ===== */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background: var(--cor-branca);
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-top: 0;
  color: var(--cor-primaria);
  text-align: center;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--cor-borda);
  outline: none;
  font-size: 0.95rem;
}

.modal-content input:focus {
  border-color: var(--cor-primaria);
  box-shadow: 0 0 4px var(--primary-color);
}

.list-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  height: 350px;
  padding: 24px;

  i {
    background-color: var(--gray-color-hover);
    font-size: 32px;
    padding: 16px;
    border-radius: 50%;
  }
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

